<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Lemon|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Crimson+Text' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "Dilemma App" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
  <%= render 'nav' %>
  <%= render 'flash_messages' %>
  <div class='row'>
    <div class='small-12 medium-12 columns'>
      <%= yield %>
    </div>
  </div>
  </body>
</html>

