<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Lemon|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title><%= content_for?(:title) ? yield(:title) : "Dilemma App" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <%= render 'nav' %>
  <%= render 'flash_messages' %>
  <%= yield %>
  </body>
</html>